<ion-header>

</ion-header>

<ion-content>
  <div *ngIf="order != undefined">
    <ion-row>
      <ion-col size="6">
        <ion-card style="background-color: white;">
          <ion-card-header>
            <ion-item-divider>
              <ion-col size="3">                
                <ion-icon name="agilit-place" class="icon-default-size color-blue"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <ion-label>Localização</ion-label>
              </ion-col>
            </ion-item-divider>
          </ion-card-header>      
          <ion-card-content class="align-center">
            {{order.orderEquipment[0].installationArea.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card style="background-color: white;">
          <ion-card-header>
            <ion-item-divider>
              <ion-col size="3">
                <ion-icon name="agilit-machine" class="icon-default-size"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <ion-label>Equip.</ion-label>
              </ion-col>
            </ion-item-divider>
          </ion-card-header>
          <ion-card-content class="align-center">
            {{order.orderEquipment[0].equipment.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-card style="background-color: white;">
      <ion-card-header>
        <ion-row>
          <ion-col size="6">
            <div class="align-center">
              <ion-item-divider>
                <ion-col size="2">                  
                  <ion-icon name="agilit-exclamation" class="icon-default-size"></ion-icon>
                </ion-col>
                <ion-col size="10">
                  <ion-label>Causas</ion-label>
                </ion-col>
              </ion-item-divider>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="align-center">
              <ion-item-divider>
                <ion-col size="2">
                  <ion-icon name="agilit-help" class="icon-default-size"></ion-icon>
                </ion-col>
                <ion-col size="10">
                  <ion-label>Sintoma</ion-label>
                </ion-col>
              </ion-item-divider>
            </div>
          </ion-col>
        </ion-row>
        
      </ion-card-header>      
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <div class="align-center">
              {{order.defectOrigin.description}}
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="align-center">
              {{order.defectSymptom.description}}
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
    <div class="align-center">
      <ion-row>
        <ion-col size="12">
          <ion-label class="font-size-large">Horário de Abertura</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-size-large">{{order.openDateFormated}}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-size-small">PENDENTE</ion-label>
        </ion-col>
      </ion-row>
    </div>
  
    <ion-card style="background-color: white;">
      <ion-card-header>
        <ion-item-divider>
          <ion-label class="font-size-small">Responsável pela Manutenção</ion-label>
        </ion-item-divider>
      </ion-card-header>      
      <ion-card-content class="align-center" *ngFor="let workers of order.maintenanceWorker">
        <ion-label *ngIf="workers.isMain" class="font-size-medium">{{workers.user.name}}</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card style="background-color: white;">
      <ion-card-header class="align-center">
        <ion-item-divider>
          <ion-label class="font-size-small">Centro de Trabalho Responsável</ion-label>
        </ion-item-divider>
      </ion-card-header>      
      <ion-card-content class="align-center">
        <ion-label class="font-size-medium">{{order.orderEquipment[0].installationArea.description}}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>    
</ion-content>