<ion-header>
    
</ion-header>

<ion-content>
<ion-card class="content p-4">
    <img class="logoDuasRodas" src="../../assets/img/logoDuasRodas.png">
    <ion-list>      
      <ion-item>
        <!-- <ion-label position="floating">Email</ion-label> -->
        <ion-icon class="icon-default-size" slot="start" name="person" color="secondary"></ion-icon>
        <ion-input class="username" type="text" id="username" name="username" [(ngModel)]="username"></ion-input>
        <!-- <input type="text" id="username" class="username"><br><br>         -->
      </ion-item>
      <ion-item>
        <!-- <ion-label position="floating">Senha</ion-label> -->
        <ion-icon class="icon-default-size" slot="start" name="key" color="secondary"></ion-icon>
        <ion-input class="password" type="password" id="password" name="password" [(ngModel)]="password" autocomplete="off"></ion-input>
        <!-- <input type="text" id="password" class="password"><br><br> -->
      </ion-item>
    </ion-list>
    
    <div class="mt-4">
      <ion-item lines="none">
        <ion-checkbox slot="start" color="primary" [(ngModel)]="saveCreditional"></ion-checkbox>
        <ion-label class="font-size-small">Salvar credenciais</ion-label>
      </ion-item>               
    </div>

    <div class="mt-6">
      <agilit-button [expand]="'block'" id="logon" class="logon" (click)="login()">Entrar<ion-icon slot="end" name="arrow-round-forward"></ion-icon></agilit-button>
      <!-- <button type="button" class="logon" id="logon" name="logon" onclick="login()">Entrar</button> -->

      <ion-label class="font-size-large">{{errorObject}}</ion-label>
    </div>    
  </ion-card>
</ion-content>