<ion-header>
  <ion-toolbar>
    <ion-title>Operação</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label color="secondary" position="floating">Descrição da operação</ion-label>
      <ion-input type="text" [(ngModel)]="operationData.description"></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label color="secondary" position="floating">Nº Oper.</ion-label>
      <ion-input type="number" [(ngModel)]="operationData.operationNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating">Tempo planejado</ion-label>
      <ion-input type="time" disabled [(ngModel)]="operationData.formatedPlanningTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating">Tempo executado</ion-label>
      <ion-input type="time" [(ngModel)]="operationData.formatedExecutedTime" (ionBlur)="executeTimeChange($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating">Observação</ion-label>
      <ion-textarea [(ngModel)]="operationData.note"></ion-textarea>
    </ion-item>

    <ion-item>      
      <ion-label>Operação realizada</ion-label>
      <ion-toggle [(ngModel)]="operationData.executed"></ion-toggle>      
    </ion-item>
  </ion-list>

  <h5 class="align-center">Componentes</h5>

  <ion-row>
    <ion-col size="10">
      <ion-label class="font-style-bold">Descrição</ion-label>
    </ion-col>        
    <ion-col size="2">
      <ion-label class="font-style-bold">Quant.</ion-label>
    </ion-col>
  </ion-row>

    <ion-row *ngFor="let component of operationData.orderComponent">
      <ion-col size="10">
        <ion-label class="font-size-mini font-style-bold">{{component.item.description}}</ion-label>
      </ion-col>        
      <ion-col size="2" class="align-center">
        <ion-label color="secondary" class="font-size-mini font-style-bold">{{component.quantity}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addOperation()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer>
  <div class="align-center">
    <agilit-button (click)="confirmOperation()">Confirmar</agilit-button>
  </div>
</ion-footer>