<ion-header>
  <ion-toolbar>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of checkLists">
      <ion-label>{{item.description}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="align-center">
    <agilit-button (click)="dismissModal()">Confirmar</agilit-button>
  </div>
</ion-footer>