<ion-header>
</ion-header>

<ion-content>  
  <div *ngIf="order != undefined">
    <ion-card style="background-color: white;" *ngFor="let itemOperation of order.orderEquipment[0].orderOperation; let i = index">
      <ion-card-header (click)="expandedItem(itemOperation)">
        <ion-label class="font-size-medium">
          <ion-icon class="p-right-2 executed icon-default-size color-success" name="checkmark" *ngIf="itemOperation.executed"></ion-icon>
          <ion-icon class="p-right-2 executed icon-default-size color-primary" name="alert" *ngIf="!itemOperation.executed"></ion-icon>        
          {{i + 1}} - {{itemOperation.description}}        
          <ion-icon class="p-right-2 arrow-icons-right icon-default-size" name="arrow-forward" *ngIf="!itemOperation.expanded"></ion-icon>        
          <ion-icon class="p-right-2 arrow-icons-right icon-default-size" name="arrow-down" *ngIf="itemOperation.expanded"></ion-icon>
        </ion-label>      
      </ion-card-header>
    
      <ion-card-content *ngIf="itemOperation.expanded">
        <div class="m-top-2 p-2">
          <div class="align-center">
            <ion-label class="font-size-medium">Componentes</ion-label>
          </div>
    
          <div *ngFor="let itemComponent of itemOperation.orderComponent">
            - {{itemComponent.item.description}}
          </div>   
                  
          <hr class="m-top-6" style="width: 98%; height: 2px; background-color: #A9A9A9;">
          <ion-row>
            <ion-col size="6" style="display: flex; align-items: center;" class="font-size-small">
              <ion-label>Operação realizada</ion-label>
            </ion-col>
  
            <ion-col size="6" style="display: flex; align-items: center;">
              <ion-toggle checked={{itemOperation.executed}} (ionChange)="exitOperation(itemOperation)"></ion-toggle>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
  </div>  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addOperation()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
