<ion-header>
</ion-header>

<ion-content>
  <div *ngIf="order != undefined">
    <ion-card style="background-color: white;">
      <ion-card-header>
        <ion-item-divider>
          <ion-card-title color="secondary">Problemas</ion-card-title>
        </ion-item-divider>
      </ion-card-header>
  
      <ion-card-content>
        <div>
          <ion-label class="font-size-small font-style-bold" color="primary" position="stacked">Causa</ion-label>
          <ion-item lines="none">
            <ion-input class="font-size-small" disabled>{{order.defectOrigin.description}}</ion-input>
          </ion-item>
        </div>
  
        <div class="m-top-2">
          <ion-label class="font-size-small font-style-bold" color="primary" position="stacked">Informações da Causa</ion-label>
          <ion-item>
            <ion-input class="font-size-small" disabled>{{order.defectOriginNote}}</ion-input>
          </ion-item>
        </div>
  
        <div class="m-top-6">
          <ion-label class="font-size-small font-style-bold" color="primary" position="stacked">Sintoma</ion-label>
          <ion-item lines="none">
            <ion-input class="font-size-small" disabled>{{order.defectOrigin.description}}</ion-input>
          </ion-item>
        </div>
  
        <div class="m-top-2">
          <ion-label class="font-size-small font-style-bold" color="primary" position="stacked">Informações do Sintoma</ion-label>
          <ion-item>
            <ion-input class="font-size-small" disabled>{{order.defectSymptom.description}}</ion-input>
          </ion-item>
        </div>
  
        <div class="m-top-6">
          <ion-label class="font-size-small font-style-bold" color="primary" position="stacked">Componente Defeituoso</ion-label>
          <ion-item lines="none">
            <ion-input class="font-size-small" disabled>{{order.orderEquipment[0].equipment.description}}</ion-input>
          </ion-item>
        </div>      
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
